# Python
__pycache__/
*.pyc
*.pyo
veco.db
*.sqlite
*.sqlite3
.venv/
venv/

# Dependencies
node_modules/

# Build output
dist/
dist-ssr/
*.local
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Env
.env
.env.local
.env.*.local
